.footer{
    background-color: gray;
    text-decoration: none;
    padding: 0px;
    margin: 20px 0px 0px 0px;
    align-items: center;
}

.body{
    background-color: cadetblue;
}

.materia{
   
}

.epet{
    
}

