*{
    Margin: 0;
    Padding: 0;
    Box-sizing: border-box;
    }
    
    a{
    Text-decoration: none;
    Outline: none;
    }
    
    body{
    Font-family: 'roboto', sans-serif;
    padding: 30px;
    text-align: center;
    }
    
    html{
    scroll-behavior: smooth;
    }